@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --color-primary-dark: color-mix(in srgb,var(--color-primary),#000 15%);
    --color-primary-light: color-mix(in srgb,var(--color-primary),#FFF 40%);
    --color-secondary-dark: color-mix(in srgb,var(--color-secondary),#000 15%);
    --color-light-dark: color-mix(in srgb,var(--color-light),#000 15%);
    --color-white: #fff;
    --color-black: #000;
    --color-gray-light: #eee;
    --color-gray-dark: #333;
    --color-whitetext: #000;
    --color-blacktext: #fff;
    --brightness: 0.5;
}

.theme-dark {
    --color-white: #111;
    --color-black: #000;
    --color-gray-light: #444;
    --color-gray-dark: #222;
    --color-whitetext: #ccc;
    --color-blacktext: #ccc;
    --brightness: 0.4;
}

@layer components {
    .theme-dark img {
        filter: brightness(0.75);
    }

    img.img-darken {
        filter: brightness(var(--brightness));
    }

    .themeToggler .dot {
        background-color: var(--color-white);
    }
}

/* Fix debugger view */
details.extbase-debugger-tree {
    height: auto !important;
}
