@layer base {
    html {
        font-size: 15px;

        @screen lg {
            font-size: 16px;
        }
    }

    :focus-visible {
        outline: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }
}
