@layer base {
    html {
        font-size: 15px;

        @screen lg {
            font-size: 16px;
        }
    }

    :focus-visible {
        outline: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    ::selection {
        @apply text-lighttext bg-light-500;
    }

    .background-light {
        ::selection {
            @apply text-black bg-blacktext;
        }
    }

    .background-white {
        ::selection {
            @apply text-lighttext bg-light-500;
        }
    }

    
}
