/bin/
/public/
/var/
/vendor/
/typo3_core/
*.idea
*.project
*.vscode
data/files/public/fileadmin/user_upload/form_*
data/files/public/fileadmin/user_upload/_temp_
data/files/public/fileadmin/_temp_
.php-cs-fixer.cache
.vite
.env
.DS_Store
node_modules
/local_packages/success/Resources/Public/Vite
# DDEV - ignore files created by "ddev get torenware/ddev-viteserve"
/.ddev/addon-metadata/ddev-viteserve
/.ddev/.allow-upgrade
/.ddev/docker-compose.viteserve.yaml
/.ddev/.env-frag
/.ddev/web-build/Dockerfile.ddev-viteserve
/.ddev/viteserve
/.ddev/commands/web/vite-serve
# DDEV - ignore files created by "ddev get ddev/ddev-cron"
/.ddev/addon-metadata/ddev-cron
/.ddev/web-build/Dockerfile.ddev-cron
/.ddev/web-build/cron.conf
/.ddev/web-build/time.cron.example
/.vite
