<footer class="py-5 container px-5 mx-auto">
    <div class="grid-cols-{settings.footer.maxCols}">
        <!-- load contents here-->

    </div>

    <div class="legal-footer grid grid-cols-2 gap-5">
        <span class="copyright flex">
            &copy; {settings.info.owner.name} {f:format.date(format: '%Y', date:'now')}
        </span>
        <div class="flex legal-container">
            <f:link.typolink parameter="{settings.info.owner.imprint}" class="imprint" title="{f:translate(key: 'imprint.label', extensionName: 'success')}">
                {f:translate(key: 'imprint.label', extensionName: 'success')}
            </f:link.typolink>
            <f:link.typolink parameter="{settings.info.owner.imprint}" class="data-privacy" title="{f:translate(key: 'dataPrivacy.label', extensionName: 'success')}">
                {f:translate(key: 'dataPrivacy.label', extensionName: 'success')}
            </f:link.typolink>
        </div>
    </div>
</footer>
