<div class="background-black relative min-h-screen flex items-center">
    <f:render partial="Header" arguments="{ settings: settings }"/>

    <img alt="ALT_TEXT" class="object-cover w-full h-full brightness-50 absolute top-0 left-0" src="https://picsum.photos/1600/900" />
    <div class="container px-5 py-12 mx-auto z-10 relative">
        <div class="grid gap-5 md:grid-cols-2">
            <div>
                <div class="h1 mb-3">Customize your own surfboard</div>
                <div>Lorem ipsum dolor sit amet</div>
                <div class="mt-5">
                    <a href="#" class="btn btn-primary">Upload your design</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-light relative pb-12 min-h-screen flex items-center">
    <f:render partial="Header" arguments="{ settings: settings }"/>

    <div class="container px-5 mx-auto mt-[6rem]">
        <div class="grid gap-5 md:grid-cols-2">
            <div class="flex items-center">
                <div>
                    <div class="h1">Customize your own surfboard</div>
                    <div class="mt-5">
                        <a href="#" class="btn btn-secondary">Upload your design</a>
                    </div>
                </div>
            </div>

            <div class="md:flex justify-center items-center">
                <div class="aspect-square rounded overflow-hidden rotate-right max-w-80">
                    <img alt="ALT_TEXT" class="object-cover h-full w-full" src="https://picsum.photos/400/200" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-light py-12">
    <div class="container px-5 mx-auto">
        <div class="grid gap-5 md:grid-cols-3">
            <div class="background-white rounded overflow-hidden">
                <div class="aspect-video">
                    <img alt="ALT_TEXT" class="object-cover h-full w-full" src="https://picsum.photos/200/300" />
                </div>
                <div class="p-5">
                    <div class="font-bold text-lg mb-2">Heading</div>
                    <div>Lorem Ipsum</div>
                    <div class="mt-5">
                        <a class="btn btn-primary" href="#">Nice one!</a>
                    </div>
                </div>
            </div>

            <div class="background-white rounded overflow-hidden">
                <div class="aspect-video">
                    <img alt="ALT_TEXT" class="object-cover h-full w-full" src="https://picsum.photos/200/300" />
                </div>
                <div class="p-5">
                    <div class="font-bold text-lg mb-2">Heading</div>
                    <div>Lorem Ipsum</div>
                </div>
            </div>

            <div class="background-white rounded overflow-hidden">
                <div class="aspect-video">
                    <div class="flex items-end px-5 pt-5 h-full">
                        <span class="background-secondary rounded-full p-4 w-12 h-12 flex items-center justify-center">
                            <span class="text-xs">icon</span>
                        </span>
                    </div>
                </div>
                <div class="p-5">
                    <div class="font-bold text-lg mb-2">Heading</div>
                    <div>Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-secondary py-12">
    <div class="container px-5 mx-auto">
        <div class="grid md:grid-cols-6 grid-cols-4 gap-5 md:gap-8">
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
            <div class="aspect-square rounded overflow-hidden">
                <img alt="ALT_TEXT" class="object-cover w-full h-full" src="https://picsum.photos/300/200" />
            </div>
        </div>
    </div>
</div>

<div class="background-light py-12">
    <div class="container px-5 mx-auto">
        <div class="h2 mb-10">Customer Reviews</div>
        <div class="grid gap-5 md:grid-cols-3">
            <div class="flex items-center">
                <blockquote class="background-white p-5 rounded w-full relative">
                    <span class="text-7xl text-primary-500 font-bold absolute right-5 -top-4">&rdquo;</span>
                    <p class="text-lg">Lorem Ipsum</p>
                    <footer class="font-bold mt-5">Jane Doe</footer>
                </blockquote>
            </div>

            <div class="flex items-center">
                <blockquote class="background-white p-5 rounded w-full relative">
                    <span class="text-7xl text-primary-500 font-bold absolute right-5 -top-4">&rdquo;</span>
                    <p class="text-lg">Lorem Ipsum Lorem Ipsum and even more lorem ipsum</p>
                    <footer class="font-bold mt-5">Jane Doe</footer>
                </blockquote>
            </div>

            <div class="flex items-center">
                <blockquote class="background-white p-5 rounded w-full relative">
                    <span class="text-7xl text-primary-500 font-bold absolute right-5 -top-4">&rdquo;</span>
                    <p class="text-lg">Lorem Ipsum</p>
                    <footer class="font-bold mt-5">Jane Doe</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="background-secondary py-12">
    <div class="container px-5 mx-auto">
        <div class="grid gap-8 md:grid-cols-2">
            <div class="md:flex justify-center items-center">
                <div class="aspect-square rounded overflow-hidden rotate-left max-w-80">
                    <img alt="ALT_TEXT" class="object-cover h-full w-full" src="https://picsum.photos/400/200" />
                </div>
            </div>
            <div class="flex items-center">
                <div>
                    <div class="h3">Headline</div>
                    <div class="rte">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-light py-12">
    <div class="container px-5 mx-auto">
        <div class="h2">Our company in numbers</div>

        <div class="mt-8">
            <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-5 md:gap-8">
                <div class="rounded background-white p-5 text-center">
                    <div class="font-bold text-4xl"><span class="inline-block px-2 pb-2 mb-2 border-b border-b-2 border-primary-500">300</span></div>
                    <div>Coffees a day</div>
                </div>

                <div class="rounded background-white p-5 text-center">
                    <div class="font-bold text-4xl"><span class="inline-block px-2 pb-2 mb-2 border-b border-b-2 border-primary-500">5</span></div>
                    <div>Employees</div>
                </div>

                <div class="rounded background-white p-5 text-center">
                    <div class="font-bold text-4xl"><span class="inline-block px-2 pb-2 mb-2 border-b border-b-2 border-primary-500">500+</span></div>
                    <div>Customized surfboards</div>
                </div>

                <div class="rounded background-white p-5 text-center">
                    <div class="font-bold text-4xl"><span class="inline-block px-2 pb-2 mb-2 border-b border-b-2 border-primary-500">Nr. 1</span></div>
                    <div>Company when it comes to customizing surfboards</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-primary py-12">
    <div class="container px-5 mx-auto">
        <div class="h2">FAQs</div>

        <div class="mt-8">
            <details class="mt-5">
                <summary class="transifocus:ring-2 focus:ring-primary-200 background-white rounded w-full text-left font-bold px-4 py-2 flex justify-between items-center">
                    Here is a question right?
                    <span aria-hidden="true" class="rounded-full w-5 h-5 flex items-center justify-center background-primary text-sm ml-3">+</span>
                </summary>
                <article class="rte rounded-b background-white px-4 py-2 border-t border-light-500">
                    Lorem ipsum
                </article>
            </details>

            <details class="mt-5">
                <summary class="focus:ring-2 focus:ring-primary-200 background-white rounded w-full text-left font-bold px-4 py-2 flex justify-between items-center">
                    Here is a question right?
                    <span aria-hidden="true" class="rounded-full w-5 h-5 flex items-center justify-center background-primary text-sm ml-3">+</span>
                </summary>
                <article class="rte rounded-b background-white px-4 py-2 border-t border-light-500">
                    Lorem ipsum
                </article>
            </details>
        </div>
    </div>
</div>

<div class="background-primary py-12">
    <div class="container px-5 mx-auto">
        <div class="h2">Contact Form</div>

        <fieldset>
            <label>
                Input type text
                <input class="form-control" id="text" type="text">
            </label>

            <label>
                Input type url
                <input class="form-control" id="url" type="url">
            </label>

            <label>
                Input type email
                <input class="form-control" id="email" type="email">
            </label>

            <label class="block">
                Input type number
                <input class="form-control" id="number" type="number">
            </label>

            <label class="block">
                Input type date
                <input class="form-control" id="date" type="date">
            </label>

            <label class="block">
                Input type tel
                <input class="form-control" id="tel" type="tel">
            </label>


            <label class="flex gap-2 items-center">
                <input type="checkbox" class="form-checkbox" id="checkbox" type="text" />
                Input type checkbox
            </label>

            <label class="flex gap-2 items-center">
                <input type="radio" class="form-radio" id="radio" type="text" />
                Input type radio
            </label>

            <label for="story" class="block">
                Tell us your story:
                <textarea id="story" name="story" rows="5" cols="4" class="form-control"></textarea>
            </label>

        </fieldset>

        <div class="mt-8">
        </div>
    </div>
</div>



<div class="background-light py-12">
    <div class="container px-5 mx-auto">
        <div class="h2">Our sponsors</div>

        <div class="mt-8">
            <div class="grid md:grid-cols-4 grid-cols-2 gap-5 md:gap-8">
                <div class="rounded background-white p-5 flex justify-center">
                    <img alt="ALT_TEXT" class="h-16 w-auto object-contain" src="https://picsum.photos/400/300" />
                </div>

                <div class="rounded background-white p-5 flex justify-center">
                    <img alt="ALT_TEXT" class="h-16 w-auto object-contain" src="https://picsum.photos/400/300" />
                </div>

                <div class="rounded background-white p-5 flex justify-center">
                    <img alt="ALT_TEXT" class="h-16 w-auto object-contain" src="https://picsum.photos/400/300" />
                </div>

                <div class="rounded background-white p-5 flex justify-center">
                    <img alt="ALT_TEXT" class="h-16 w-auto object-contain" src="https://picsum.photos/400/300" />
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 container px-5 mx-auto">
    &copy; {settings.ui.name} {f:format.date(format: '%Y', date:'now')}
</footer>
