<ul class="flex gap-4 items-center">
    <li class="p-2 lg:pl-0 m-1 lg:ml-0">
      <a href="#" class="font-bold text-lg uppercase  transition-colors hover:text-primary-500 focus:text-primary-500">Menu 1</a>
    </li>
    <li class="p-2 m-1">
      <a href="#" class="font-bold text-lg uppercase p-2 m-1 transition-colors hover:text-primary-500 focus:text-primary-500">Menu 2</a>
    </li>
    <li class="p-2 m-1">
      <a href="#" class="font-bold text-lg uppercase p-2 m-1 transition-colors hover:text-primary-500 focus:text-primary-500">Menu 3</a>
    </li>
  </ul>
