body.modal-open {
    @apply overflow-hidden;
}

.modal {
    @apply hidden fixed z-10 left-0 top-0 w-full h-full overflow-auto;

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .container {
    position: relative;
}

.modal-content {
    @apply bg-white-variable rounded overflow-hidden text-whitetext shadow-lg relative;

    > .ce {
        @apply py-5;
    }
}

.modal-close {
    @apply absolute rounded-full text-whitetext w-6 h-6 right-2 top-2 text-center align-middle cursor-pointer flex items-center justify-center text-2xl focus:ring focus:ring-2 focus:ring-primary-200;
}

.loading-indicator {
    @apply hidden fixed top-1/2 left-1/2 border border-4 border-white-variable border-t-primary-500 rounded-full animate-spin w-8 h-8;

    transform: translate(-50%, -50%);
}