<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:s="http://typo3.org/ns/Surfcamp/Success/ViewHelpers"
>

<f:asset.css identifier="theme-settings">
    <s:themeVariablesProvider variables="{settings.ui.default}" />
    <s:themeVariablesProvider variables="{settings.ui.dark}" selector=".dark" />
</f:asset.css>

<div data-ui-theme="{settings.ui.theme}"></div>

{_all -> f:debug()}

<h1>{page.title}</h1>

<f:cObject typoscriptObjectPath="styles.content.get" data="{colPos: '0'}" />

<div id="modal" class="modal">
    <div class="modal-content" id="modal-content"></div>
    <div id="loading-indicator" class="loading-indicator"></div>
</div>
</html>
