<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="Default"/>
<f:section name="Main">
    <div class="container px-5 mx-auto max-w-screen-md">
        <f:render partial="Content/Header"
                  arguments="{headerLayout: data.header_layout, headerStyle: data.header_style, header: data.header, subheader: data.subheader, overline: data.overline}"/>
        <div class="mt-5">
            <f:cObject typoscriptObjectPath="tt_content.{rawData.CType}.20" data="{rawData}"/>
        </div>
    </div>
</f:section>
</html>
