<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="Main">
    <div class="container px-5 mx-auto">
        <f:render partial="Content/Header"
                  arguments="{headerLayout: data.header_layout, headerStyle: data.header_style, header: data.header, subheader: data.subheader, overline: data.overline}"/>
        <div class="grid md:grid-cols-4 grid-cols-2 gap-5 md:gap-8 {f:if(condition: data.header, then: 'mt-8')}">
            <f:if condition="{data.assets}">
                <f:for each="{data.assets}" as="media">
                    <f:if condition="{media.link}">
                        <f:then>
                            <f:link.typolink 
                                parameter="{media.link}"
                                title="{media.alternative}" 
                                target="_blank"
                                class="rounded background-white p-5 flex justify-center block focus:ring focus:ring-2 focus:ring-primary-200">
                                <f:image src="{media.uid}" treatIdAsReference="1" class="h-16 w-auto object-contain"
                                        width="400" loading="lazy"/>
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <div class="rounded background-white p-5 flex justify-center">
                                <f:image src="{media.uid}" treatIdAsReference="1" class="h-16 w-auto object-contain"
                                            width="400" loading="lazy"/>
                            </div>
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </div>
    </div>
</f:section>
</html>
