<html
    data-namespace-typo3-fluid="true"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="Main">
    <vac:asset.vite entry="assets/js/mobile-navigation.js"/>

    <f:switch expression="{data.color}">
        <f:case value="white">
            <f:variable name="color">white-pure</f:variable>
        </f:case>
        <f:defaultCase>
            <f:variable name="color">{data.color}</f:variable>
        </f:defaultCase>
    </f:switch>

    <header class="absolute top-0 left-0 z-50 w-full text-{color} !bg-transparent">
        <div class="container px-5 py-4 mx-auto">
            <div class="flex justify-between items-center">
                <f:render section="Logo" arguments="{data: data}" />
                <f:render section="HamburgerMenuButton" arguments="{data: data}"/>
                <f:render section="NavigationMobile" arguments="{data: data}"/>

                <f:if condition="{data.navigation} == 'beside'">
                    <f:if condition="{data.tx_success_menu_item}">
                        <div class="hidden md:block">
                            <f:render section="NavigationDesktop" arguments="{data: data}"/>
                        </div>
                    </f:if>
                </f:if>
            </div>

            <f:if condition="{data.navigation} == 'below'">
                <f:if condition="{data.tx_success_menu_item}">
                    <div class="hidden md:block md:mt-2">
                        <f:render section="NavigationDesktop" arguments="{data: data}"/>
                    </div>
                </f:if>
            </f:if>
        </div>
    </header>
</f:section>

<f:section name="Logo">
    <f:if condition="{data.assets}">
        <f:then>
            <a href="/" title="Home" class="inline-block min-w-24 focus:ring focus:ring-2 focus:ring-primary-200">
                <f:image src="{data.assets.0.uid}" treatIdAsReference="1" class="w-32 h-16 object-contain object-left"/>
            </a>
        </f:then>
        <f:else>
            <f:if condition="{data.name}">
                <f:then>
                    <a href="/" title="Home" class="inline-block hover:text-primary-500 focus:ring focus:ring-2 focus:ring-primary-200">
                        <span class="text-lg font-heading font-bold">{data.name}</span>
                    </a>
                </f:then>
                <f:else>Please insert a name or logo</f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>

<f:section name="NavigationDesktop">
    <nav class="hidden md:block">
        <ul class="flex gap-4 items-center -mx-2">
            <f:for each="{data.tx_success_menu_item}" as="menuItem">
                <li>
                    <f:link.typolink parameter="{menuItem.link}" class="font-heading font-bold text-lg uppercase transition-colors hover:text-primary-500 focus:text-primary-500 focus:ring focus:ring-2 focus:ring-primary-200 p-1">
                        {menuItem.label}
                    </f:link.typolink>
                </li>
            </f:for>
        </ul>
    </nav>
</f:section>

<f:section name="NavigationMobile">
    <nav class="navigation hidden absolute top-0 left-0 background-{settings.ui.layout.pagebg} w-full h-screen overflow-y-auto flex items-center">
        <ul class="text-center container px-5 mx-auto">
            <f:for each="{data.tx_success_menu_item}" as="menuItem">
                <li class="my-3">
                    <f:link.typolink parameter="{menuItem.link}" class="font-heading font-bold text-lg uppercase transition-colors hover:text-primary-500 focus:text-primary-500 focus:ring focus:ring-2 focus:ring-primary-200 p-1">
                        {menuItem.label}
                    </f:link.typolink>
                </li>
            </f:for>
        </ul>
    </nav>
</f:section>

<f:section name="HamburgerMenuButton">
    <button
        class="hamburger-menu-button md:hidden ml-auto h-5 z-50"
        title="Menu"
    >
    <span aria-hidden="true" class="pointer-events-none hamburger-menu-open w-6 flex flex-col justify-between gap-[0.4rem]">
        <span class="block w-full border-b border-b-2 border-current"></span>
        <span class="block w-full border-b border-b-2 border-current"></span>
        <span class="block w-full border-b border-b-2 border-current"></span>
    </span>
        <span aria-hidden="true" class="hamburger-menu-close hidden relative">
            <span class="cross-bar"></span>
            <span class="cross-bar"></span>
        </span>
    </button>
</f:section>
</html>
