<html
    data-namespace-typo3-fluid="true"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="Main">
    <vac:asset.vite entry="assets/js/mobile-navigation.js"/>

    <header class="absolute top-0 left-0 z-50 w-full">
        <f:if condition="{settings.ui.layout.navigation.position} == 'below'">
            <f:then>
                <div class="w-full px-5 py-3 lg:block flex items-center justify-between gap-2">
                    <f:render section="Logo" arguments="{data: data}" />
                    <f:if condition="{settings.ui.layout.navigation.isVisible}">
                        <f:then>
                            <div class="mt-2 text-black">
                                <f:render section="NavigationLinks" arguments="{data: data}"/>
                                <f:render section="HamburgerMenuButton" arguments="{data: data}"/>
                            </div>
                        </f:then>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="relative">
                    <div class="w-full absolute top-0 left-0 z-10">
                        <div class="px-5 text-black py-3">
                            <div class="flex justify-between items-center gap-2">
                                <f:render section="Logo" arguments="{data: data}" />
                                <f:if condition="{settings.ui.layout.navigation.isVisible}">
                                    <f:then>
                                        <f:render section="NavigationLinks" arguments="{data: data}"/>
                                        <f:render section="HamburgerMenuButton" arguments="{data: data}"/>
                                    </f:then>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </header>
</f:section>
<f:section name="Logo">
    <f:if condition="{data.assets}">
        <a href="/" title="Home" class="inline-block min-w-24">
            <f:image src="{data.assets.0.uid}" treatIdAsReference="1" class="w-32 h-auto"/>
        </a>
    </f:if>
</f:section>
<f:section name="NavigationLinks">
    <f:if condition="{data.tx_success_menu_item}">
        <ul class="flex gap-4 items-center">
            <f:for each="{data.tx_success_menu_item}" as="menuItem">
                <li class="p-2 lg:pl-0 m-1 lg:ml-0">
                    <f:link.typolink parameter="{menuItem.link}" class="font-bold text-lg uppercase transition-colors hover:text-primary-500 focus:text-primary-500">
                        {menuItem.label}
                    </f:link.typolink>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
<f:section name="HamburgerMenuButton">
    <button
        class="hamburger-menu-button lg:hidden ml-auto h-5"
        title="Menu"
    >
    <span aria-hidden="true" class="hamburger-menu-open w-5 flex flex-col justify-between gap-1">
        <span class="block h-1 w-full bg-black"></span>
        <span class="block h-1 w-full bg-black"></span>
        <span class="block h-1 w-full bg-black"></span>
    </span>
        <span aria-hidden="true" class="hamburger-menu-close hidden">&#10006;</span>
    </button>
</f:section>
</html>
