<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="Main">
<div>
    <div class="container px-5 mx-auto">
        <f:render partial="Content/Header"
                  arguments="{headerLayout: data.header_layout, headerStyle: data.header_style, header: data.header, subheader: data.subheader, overline: data.overline}"/>
        <div class="grid gap-5 md:grid-cols-3 {f:if(condition: data.header, then: 'mt-8')}">
            <f:if condition="{data.tx_success_card}">
                <f:for each="{data.tx_success_card}" as="card">
                    <div class="background-white rounded overflow-hidden flex flex-col">
                        <div class="aspect-video">
                            <f:if condition="{card.media.0}">
                                <f:image src="{card.media.0.uid}" treatIdAsReference="1" class="object-cover h-full w-full" width="600" height="340c" loading="lazy" />
                            </f:if>
                        </div>
                        <div class="p-5 flex justify-between flex-col grow">
                            <div>
                                <f:if condition="{card.headline}">
                                    <div class="heading-lg mb-3">{card.headline}</div>
                                </f:if>
                                <f:if condition="{card.bodytext}">
                                    <div>{card.bodytext -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}</div>
                                </f:if>
                            </div>

                            <f:if condition="{card.button_link}">
                                <div class="mt-5">
                                    <f:render partial="Content/Button"
                                        arguments="{buttonLink: card.button_link, buttonStyle: card.button_style, buttonLabel: card.button_label}"/>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </f:for>
            </f:if>
        </div>
    </div>
</div>
</f:section>
</html>
