<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="Main">
<div class="background-secondary py-12">
    <div class="container px-5 mx-auto">
        <f:render partial="Content/Header"
                  arguments="{headerLayout: data.header_layout, headerStyle: data.header_style, header: data.header}"/>
        <div class="grid md:grid-cols-6 grid-cols-4 gap-5 md:gap-8 mt-8">
            <f:if condition="{data.assets}">
                <f:for each="{data.assets}" as="media">
                    <f:image src="{media.uid}" treatIdAsReference="1" class="object-cover h-full w-full rounded" width="300" height="300c"/>
                </f:for>
            </f:if>
        </div>
    </div>
</div>
</f:section>
</html>
