<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<div class="background-black relative min-h-screen flex items-center">
    <f:if condition="{data.media}">
        <f:image image="{data.media.0}" class="object-cover w-full h-full brightness-50 absolute top-0 left-0" width="1400"></f:image>
    </f:if>
    <div class="container px-5 py-12 mx-auto z-10 relative">
        <div class="grid gap-5 md:grid-cols-2">
            <div>
                <f:render partial="Content/Header"
                    arguments="{headerLayout: data.header_layout, headerStyle: data.header_style, header: data.header, overline: data.overline}"/>

                <f:if condition="{data.bodytext}">
                    <div class="rte">{data.bodytext -> f:format.html()}</div>
                </f:if>

                <div class="mt-5">
                    <f:render partial="Content/Button"
                              arguments="{buttonLink: data.button_link, buttonStyle: data.button_style, buttonLabel: data.button_label}"/>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
