<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:s="http://typo3.org/ns/Surfcamp/Success/ViewHelpers"
>

<f:asset.css identifier="theme-settings">
    <s:themeVariablesProvider variables="{settings.ui.default}" />
    <s:themeVariablesProvider variables="{settings.ui.dark}" selector=".dark" />
</f:asset.css>

<div data-ui-theme="{settings.ui.theme}"></div>
<main class="font-text background-light">
    <f:for as="block" each="{content.column0.blocks}">
        <s:renderBlock data="{block}" />
    </f:for>
</main>
<f:render partial="Footer" arguments="{_all}" />
<f:render partial="Page/Modal" />
</html>
