<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:if condition="{images}">
    <ul class="flex flex-col gap-2 mx-auto">
        <f:for as="image" each="{images}">
            <f:if condition="{image.file.metaData.copyright} && {image.pages}">
                <li>
                    <details class="mt-5 rounded overflow-hidden">
                        <summary
                            class="cursor-pointer transition-all focus:ring-2 focus:ring-primary-200 background-white w-full text-left font-bold px-4 py-2 flex justify-between items-center">
                            {f:if(condition: image.file.metaData.title, then: '{image.file.metaData.title} - ')}
                            {image.file.metaData.copyright -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}
                            <span
                                class="icon shrink-0 rounded-full w-5 h-5 flex items-center justify-center background-primary text-sm ml-3">{image.pages -> f:count()}</span>
                        </summary>
                        <article class="content rte background-white px-4 py-2">
                            <ul>
                                <f:for as="page" each="{image.pages}">
                                    <li>
                                        <f:link.typolink parameter="{page}"/>
                                    </li>
                                </f:for>
                            </ul>
                        </article>
                    </details>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:if>
</html>
