<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:s="http://typo3.org/ns/Surfcamp/Success/ViewHelpers"
>
    <f:asset.css identifier="theme-settings">
        <s:themeVariablesProvider variables="{settings.ui.layout}" />
        <s:themeVariablesProvider variables="{settings.ui.light}" />
        <s:themeVariablesProvider variables="{settings.ui.dark}" selector=".dark" />
    </f:asset.css>

    <f:render partial="Typography" arguments="{fonts: settings.ui.font}"></f:render>

    <vac:asset.vite entry="assets/global.js"/>
    <vac:asset.vite entry="assets/product-launch.js"/>

    <main class="font-text background-light">
        <f:for as="block" each="{content.column0.blocks}">
            <s:renderBlock data="{block}" />
        </f:for>
        <div class="background-white">
            <div class="container mx-auto px-5">
                <div class="py-5">
                    <a href="#" data-cid="1" class="btn btn-black">Modal test</a>
                </div>
            </div>
        </div>

        <div style="display:none">
            <div id="c1">
                This is a test for modal
            </div>
        </div>
    </main>
    <div id="modal" class="modal">
        <div class="container mx-auto px-5">
            <div class="modal-content" id="modal-content"></div>
            <div id="loading-indicator" class="loading-indicator"></div>
        </div>
    </div>
</html>
