<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
    xmlns:s="http://typo3.org/ns/Surfcamp/Success/ViewHelpers"
>
    <f:asset.css identifier="theme-settings">
        <s:themeVariablesProvider variables="{settings.ui.layout}" />
        <s:themeVariablesProvider variables="{settings.ui.light}" />
        <s:themeVariablesProvider variables="{settings.ui.dark}" selector=".dark" />
    </f:asset.css>

    <f:render partial="Typography" arguments="{fonts: settings.ui.font}"></f:render>

    <vac:asset.vite entry="assets/global.js"/>
    <vac:asset.vite entry="assets/product-launch.js"/>

    <main class="font-text background-{settings.ui.layout.pagebg}">
        <f:for as="block" each="{content.column0.blocks}">
            <s:renderBlock data="{block}" />
        </f:for>
    </main>
    <f:render partial="Footer" arguments="{_all}" />
    <f:render partial="Page/Modal" />
</html>
