<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:if condition="{images}">
    <ul>
        <f:for as="image" each="{images}">
            <f:if condition="{image.file.metaData.copyright} && {image.pages}">
                <li>
                    <span>{f:if(condition: image.file.metaData.title, then: '{image.file.metaData.title} - ')}{image.file.metaData.copyright -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}</span>
                    <span>{f:translate(key: 'usage')}</span>
                    <ul>
                        <f:for as="page" each="{image.pages}">
                            <li>
                                <f:link.typolink parameter="{page}"/>
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:if>
</html>
